# Local .terraform directories
**/.terraform/*

# Terraform state files
*.tfstate
*.tfstate.*
*.tfplan
*.terraform.lock.hcl

# Crash logs
crash.log
crash.*.log

# Override files (local-only)
override.tf
override.tf.json
*_override.tf
*_override.tf.json

# Variable files that may contain secrets
*.tfvars
*.tfvars.json

# CLI configuration files
.terraformrc
terraform.rc

# VSCode settings (optional, if you don’t want to commit them)
.vscode/

